[submodule "vendor/instant-ngp"]
        path = vendor/instant-ngp
        url = https://github.com/NVlabs/instant-ngp.git
[submodule "vendor/nerfstudio"]
	path = vendor/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
